@font-face {
  font-family: 'Public Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/public-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans Variable", sans-serif;
  background-color: #1c645c;
  color: #042c28;
  margin: 1rem;
}

input, button, textarea {
  background-color: #1c645c;
  padding: 0.5rem;
  color: #042c28;
  border-color: #042c28;
  border-radius: 8px;
}

a {
  color: #042c28;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #d1cece;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

section, footer, aside {
  font-family: 'Public Sans Variable', "Droid Sans", sans-serif;
  background-color: #1c645c;
  color: #042c28;
  padding: 1rem;
  border-radius: 16px;
  top: 50%;
  left: 30%;
  width: 60%;
  height: max-content;
  position: static;
  margin: auto auto;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6, .center {
  text-align: center;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
}

#posts {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

nav a {
  text-decoration: none;
}

nav a:not(:first-child):not(:last-child)::after {
  content: " - ";
  margin: 0 0.5rem;
}

.card, dialog[open] {
  display: grid;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #042c28;
  border-radius: 4px;
  grid-template-rows: auto 1fr auto;

  hr {
    align-self: end;
    margin: 1rem 0;
    border: none;
    border-bottom: solid #042c28 1px;
  }
}

input, button, textarea, .btn {
  background-color: #1c645c;
  padding: 0.5rem;
  color: #042c28;
  border-color: #042c28;
  border-radius: 8px;
}

.end {
  align-self: end;
  margin: 1rem 0;
}

aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: auto auto;
  width: 60%;
  padding: 1rem;

  section {
    width: 100%;
  }
}

.auto-grid {
  padding: 0.3rem;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

hr {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #1c645c;
  height: max-content;
}

@media (max-width: 800px) {
  section {
    width: 100%;
  }

  aside {
    display: block;
    width: 100%;
  }

  .auto-grid, #posts {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  #particles-js {
    background-color: #222;
  }

  .card, dialog[open] {
    border: 1px solid #c1cece;

    hr {
      border-bottom: solid #c1cece 1px;
    }
  }

  section, aside, dialog[open], footer {
    background-color: #042c28;
    color: #c1cece;
  }

  body {
    background-color: #042c28;
    color: #c1cece;
  }

  a {
    color: #c1cece;
  }

  input, button, textarea, .btn {
    background-color: #042c28;
    color: #c1cece;
    border-color: #c1cece;
  }
}